pandas
numpy
tqdm
jinja2
ibm_db
ibm_db_django
django==5.2.15
djangorestframework==3.17.1
djangorestframework-simplejwt
python-dotenv
psycopg2-binary
django-cors-headers
gunicorn
whitenoise
drf-spectacular
python-dotenv
django-extensions
django_filters
pygraphviz